# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
shamefully-hoist=true

# Allow electron to run install scripts
enable-pre-post-scripts=true
enable-scripts=true

# For China 🇨🇳 developers
# electron_mirror=https://npmmirror.com/mirrors/electron/
